body {
  padding-left:10vw;
  padding-right:10vw;
}
h1 {
  color: #002f6c;
  font-size : 1.8vmax;
  clear:both;
}
p,ul {
  font-size : 1.1vmax;
  line-height : 1.5vmax;
}
h1 > a {
  text-decoration: none;
}
h2 {
  color:#002f6c ;
  font-size : 1.6vmax;
  clear:both;
}
h3 {
  color: #002f6c;
  font-size : 1.4vmax;
  clear:both;
}
a:link, a:visited {
  color: #1B80CF;
}
.property,.language,.datatype {
  float : left;
  background-color : #0077c2;
  color : white;
  overflow:unset;
}
.property > a, .language > a, .datatype > a{
  color : white;
}
.property > a:visited, .language >  a:visited, .datatype >a:visited {
  color : white;
}
@media screen and (min-width: 480px) {
  .property,.language,.datatype  {
    font-size : 1.0vmax;
    line-height : 1.2vmax;
    font-weight : 400;
    padding : 0.6vmax;
    margin : 0.4vmax;
  }
}
